src/jaxpxpathxmlparse/BookCatalog.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT catalog (book)+>
<!ELEMENT book (author, title, genre, price, publish_date, description)>
<!ATTLIST book id CDATA #IMPLIED>

<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT publish_date (#PCDATA)>
<!ELEMENT description (#PCDATA)>
